@import "_flexcards.scss";
@mixin cool-p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 40px;
    font-style: italic;
    color: rgb(0, 14, 14);
    text-align: center;
}

@mixin cool-button {
    width: 150px;
    height: 30px;
    cursor: pointer;
    border: 1px solid white;
    color: black;
    text-align: center;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
}

body {
    background-color: #b3daff;
}

p {
    @include cool-p;
}
.card {
    &:hover{
        transform: scale(1.2);
        background-color:#99ccff ;
    }
    &2:hover{
        transform: scale(1.2);
        background-color:#bb99ff ;
    }
    &3:hover{
        transform: scale(1.2);
        background-color:#99ffcc ;
    }
}
.boton {
    &:hover {
        filter: brightness(50%);
    }
    @include cool-button;
    background-color: #ffd633;
    &-secundario {
        @extend .boton;
        background-color: #9fff80;
        &-error {
            @extend .boton;
            background-color: rgb(250, 150, 150);
            a:link{
                text-decoration: none;
                color: black;
            }
        }
    }
}